{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS consuming Django</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/app.js' %}"></script>
  </head>

  <body ng-controller="TodosCtrl">
    <div class="container" ng-view>
      <navbar></navbar>
      <div class="jumbotron">
        <h1>My Angular Django</h1>
      </div>
    {% verbatim %}
    <div class="row">
      <div class="col-md-4">
      <form ng-submit="addTodo()">
        <input type='text' ng-model="todo.name">
        <input type="submit" class="btn btn-primary btn-md" value="Add">
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
      </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped">
          <tr ng-repeat='todo in todos'>
            <td><input type="checkbox" ng-true-value="1" ng-false-value="'0'" ng-model="todo.iscompleted" ng-change="updateTodo(todo)"></td>
            <td>{{todo.name}}</td>
            <td><button class="btn btn-danger btn-xs" ng-click="deleteTodo($index)">  <span class="glyphicon glyphicon-trash" ></span></button></td>
          </tr>
        </table>
      </div>
    </div>
    {% endverbatim %}
  </div>
  </body>
</html>